* {
box-sizing: border-box;
margin: 0px;
padding:0;
}

body {
font-family: sans-serif;
font-size:12px;
}
.container {
display:flex;
flex-direction: column;
margin: 30px auto;
max-width:960px;
}

.parentnav {
position: fixed;
top:0;
left:0;
margin:auto;
width: 100%;
}

.navbar {
display: flex;
justify-content: space-between;
background: #7275eb;
}

.logo {
 color: white;
 padding: 10px;
 font-size: 1.6rem;
 margin-left:45px;
 
}

.menu {
/*display: flex;*/
align-items: center;
}

.menu ul {
display:flex;
justify-content: flex-end;
align-items: center;
list-style:none;
background: #7275eb;
height:60px;

}


.menu li {
padding: 5px;
margin-left: 20px;
font-size: 1.2rem;
cursor: pointer;
color: white;
list-style: none;
}


.incadd {
margin:70px auto;
border: 1px solid #cdcdcd;
}

#incaddbtn{
  color: #FFF;
  background: #0073ad;
  border: 2px outset #0073ad;
  float: right;
  cursor: pointer;
  height:28px;
  margin-right: 150px;
}



.incadd label {
  text-align: right;
  padding-right: 10px;
  margin-right:10px;
  margin-bottom:10px;
  width: 150px;

}

.incadd input {
  width: 300px;
  margin-right:10px;
  margin-bottom:10px;

}

.incadd select {
  padding-right: 10px;
  margin-right:10px;
  margin-bottom:10px;

}

.incadd label, .incadd input, .incadd select{
float: left;
font-size: 1rem;

}

.incadd br {
clear: both;
}

.incadd textarea {
  margin-right:10px;
  margin-bottom:10px;

}


.tabledivclass {
  border: 2px solid;

  border-collapse: collapse;
  border: 2px solid #cdcdcd;

 }
thead {
  background: #7275eb;
  color: white;
}
th, td {
  padding: 10px;
  border-collapse: collapse;
}

