* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    display: block;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
}

html,
body,
div,
form,
fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}

div {
    display: block;
}

.login-container {
    display: flex col;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 6px;
}

.logo-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 120px;
    height: 120px;
}

form {
    display: block;
}

.inner-most {
    float: none;
}

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3.8rem;
    text-transform: capitalize;
    margin-bottom: 18px;
    line-height: 1.1;
    font-weight: inherit;
}

.rgstrn-prompt-flex {
    display: flex;
}

.rgstrn-prompt {
    padding-right: 20px;
}

p {
    font-size: 1.6rem;
    margin-bottom: 12px;
    justify-content: center;
}

a {
    color: #007989;
    /* width: 100%; */
    margin-right: 50px;
}

.field-wrapper {
    clear: both;
    overflow: visible;
    margin-bottom: 18px;
    line-height: 24px;
    position: relative;
}

.input-fld-text {
    font-size: 1.6rem;
    line-height: 20px;
    min-height: 52px;
    outline: none;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border: 2px solid #007989;
}

textarea,
input[type="text"],
input[type="password"],
input[type="file"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
    display: inline-block;
    padding: 0 8px;
    margin-bottom: 24px;
    vertical-align: middle;
    border-radius: 2px;
    width: 100%;
    min-height: 52px;
    background-color: #ffffff;
    border: 1px solid rgba(36, 28, 21, 0.3);
    -ms-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}

.label-fields {
    display: block;
    font-size: 1.6rem;
    /* padding-left: 15px; */
    padding-right: 15px;
    margin-bottom: 10px;
}

.login-button {
    font-size: 1.6rem;
    width: 100%;
    color: white;
    min-height: 52px;
    line-height: 20px;
    background-color: #007989;
    border-radius: 4px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #015d69;
}

.forgot-text-flex {
    display: flex;
    justify-content: center;
}